body{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    background: linear-gradient(to left,#1b1b1b, #ffffff)
    
}
.welcome{
    text-align: center;
}

.title-initial{
    text-align: center;
}

.title {
    color: black;
    height: 100vh;
}
.texto {
    color: rgb(255, 255, 255);
}

.content-fluid font {
    color: black;
}
.title-init{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-container{
    text-align: center;
}