body{
    font-family: 'Courgette', cursive;
    color: rgb(0, 0, 0);
    background: linear-gradient(to left,#1b1b1b, #ffffff)
}

.title {
    color: black;
    height: 100vh;
}
.texto {
    color: rgb(255, 255, 255);
}

.content-fluid font {
    color: black;
}